.subtitle {
  padding-block: 40px;
}

.containerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupButton,
.groupSkill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  width: 200px;
  padding-block: 12px;
  background: var(--bgCard);
  font-family: var(--bodyText);
  text-align: center;
  border-radius: 8px;
  letter-spacing: 2.7px;
}
